# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Coverage
.coverage
htmlcov/
.pytest_cache/

# Type checker
.mypy_cache/

# Ruff
.ruff_cache/

# VS Code
.vscode/

# Logs
logs/
*.log

# Build
build/
dist/
*.egg-info/